<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand expand" href="#home">proxanalytics</a>
    <button class="navbar-toggler navbar-toggler-right ml-auto float-xs-right pull-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mr-auto"></div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item expand">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item expand">
                <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item expand">
                <a class="nav-link" href="#education">Education</a>
            </li> 
            <li class="nav-item expand">
                <a class="nav-link" href="#experience">Experience</a>
            </li> 
            <li class="nav-item expand">
                <a class="nav-link" href="#connect">Connect</a>
            </li> 
        </ul>
    </div>
</nav>