.navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
    font-family: $nunito;
    font-size: 32px;
}

.navbar {
    padding: 1rem 20rem;
}

.navbar-nav li {
    padding-left:30px;
    padding-right:30px;
}