footer {
    font-family: 'Kanit', sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    color: white;
    text-align: center;
}

.social-footer-icons {
	margin-left: 12em;
	margin-right: 12em;
}

.fi {
	padding-left: 20px;
}

.fo {
	color: #d5d5d5;
}

.fo:hover {
	color: #e11682
}

.light-100 {
    background-color: white;
    margin-left: 12em;
    margin-right: 12em;
}

.bg-dark {
    background-color: #0f1118 !important;
}