<app-header></app-header>

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1 class="display-4">Prox Analytics</h1>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-md-12">
      <h4>The Future is Now.</h4>
    </div>
  </div>
</div>



<div class="mt-3">
  <button class="btn btn-dark" (click)="sayHi()">Say Hi</button>
  <span class="ml-4">Server data: {{serverData | json}}</span>
</div>

<div class="mt-3">
  <button class="btn btn-dark" (click)="getAllEmployees()">All Employees</button>
  <span class="ml-4">iRacer data: {{employeeData | json}}</span>
</div>

<div class="mt-3">
  <button class="btn btn-dark" (click)="getEmployee()">Employees By ID</button>
  <span class="ml-4">Employee data: {{employee | json}}</span>
</div>

<app-footer></app-footer>