<app-header></app-header>


<div class="conatiner-fluid wrapper" id="home">
  <div class="home-inner">
      <div class="caption text-center">
        <h1 class="display-4">Prox Analytics</h1>
        <div class="typewriter">
          <h4>The Future is Now.</h4>
        </div>
      </div>
  </div>
</div>

<div class="container-fluid padding mt-5">
  <div class="row"> 
    <div class="col-md-6">
      <h1>REVOLUTIONIZING ANALYTICS</h1>
    </div>
    <div class="col-md-6">
      <p>We are tired of playing the guessing game. We want real time analytics that is meaningful as team managers. 
        With API support, we are able to give you all the data you want to manager your drivers, 
        view their stats by hour, day and year; All at the leisure of one screen.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid padding mt-5">
  <div class="row"> 
    <div class="col-md-6">
      <p>
        Compare laptimes, check drivers irating, check world records with a powerful query tool.
        Effectively add and remove team members, look up other teams on the software and bring your team
        to the top of our leaderboards!
      </p>
    </div>
    <div class="col-md-6">
      <h1>THE ULTIMATE IRACING TOOL</h1>
    </div>
  </div>
</div>

<div class="mt-3">
  <button class="btn btn-dark" (click)="sayHi()">Say Hi</button>
  <span class="ml-4">Server data: {{serverData | json}}</span>
</div>

<div class="mt-3">
  <button class="btn btn-dark" (click)="getAllEmployees()">All Employees</button>
  <span class="ml-4">iRacer data: {{employeeData | json}}</span>
</div>

<div class="mt-3">
  <button class="btn btn-sm btn-dark" (click)="getEmployee()">Employees By ID</button>
  <span class="ml-4">Employee data: {{employee | json}}</span>
</div>


<app-footer></app-footer>