<div class="side-nav">
    <div class="logo">
        <p class="lead ml-2">proxanalytics</p>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#">
                    <span><i class="fa fa-home"></i></span>
                    <span>Dashboard Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-users"></i></span>
                    <span>Team Members</span>
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <span><i class="fa fa-search"></i></span>
                    <span>Team Search</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-cog"></i></span>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="main-content">
    <div class="container">
        <div class="row mb-4">
            <h1>Welcome!</h1>
        </div>
        <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>

</div>

